In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from catboost import CatBoostRegressor
from catboost import CatBoostClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

### Importing Libraries

### Importing Datasets

In [4]:
# Load your dataset
data = pd.read_excel('finale.xlsx')
data.head(3)

,unique_key,gym_visits,pool_visits,entry_point,att_day,start_date,end_date,mem_length,mem_category,price_level,age,gender,mem_status,class_bookings,alt_bookings,oth_bookings,squash_bookings,total_bookings
0,100001,16,0,Gym Barrier 2,Monday,1694822400000,1726358400000,365,peak,student,23,Female,Current Members,0,0,0,0,0
1,100038,22,0,Gym Barrier 1,Thursday,1696723200000,1728259200000,365,peak,student,19,Male,Current Members,0,0,0,0,0
2,100087,0,0,0,0,1675036800000,1726099200000,591,off-peak,student,27,Male,Current Members,0,0,0,9,9

### Calculating and Creating the Activity Column

##### The logic has been updated to classify members as Active if they meet either of the following conditions:

1. *At least 8 gym+pool visits OR* *At least 3 total bookings.*

In [6]:
# Logic to create the 'Activity' column
data['Activity'] = ((data['gym_visits'] + data['pool_visits'] >= 20) | (data['total_bookings'] >= 6)).map({True: 'Active', False: 'Inactive'})

# Displaying the first few rows to confirm the new column
data.head()

,unique_key,gym_visits,pool_visits,entry_point,att_day,start_date,end_date,mem_length,mem_category,price_level,age,gender,mem_status,class_bookings,alt_bookings,oth_bookings,squash_bookings,total_bookings,Activity
0,100001,16,0,Gym Barrier 2,Monday,1694822400000,1726358400000,365,peak,student,23,Female,Current Members,0,0,0,0,0,Inactive
1,100038,22,0,Gym Barrier 1,Thursday,1696723200000,1728259200000,365,peak,student,19,Male,Current Members,0,0,0,0,0,Active
2,100087,0,0,0,0,1675036800000,1726099200000,591,off-peak,student,27,Male,Current Members,0,0,0,9,9,Active
3,100102,0,4,0,0,1663113600000,1694649600000,365,others,student,20,Female,Current Members,0,0,0,0,0,Inactive
4,100152,25,12,Gym Barrier 2,Wednesday,1695686400000,1727222400000,365,peak,student,19,Female,Current Members,11,0,0,0,11,Active

# Prediction Model Building

### CatBoost

In [9]:
from catboost import CatBoostClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

# Example DataFrame
df_1 = data.copy()

# Define features and target
features = ['pool_visits', 'mem_length', 'mem_category', 'age', 'gender', 'class_bookings', 'alt_bookings',
            'oth_bookings', 'squash_bookings', 'price_level']
categorical_columns = ['mem_category', 'price_level', 'gender']
df_1[categorical_columns] = df_1[categorical_columns].astype('category')

X = df_1[features]
y = df_1['Activity'].map({'Active': 1, 'Inactive': 0})
y = y.fillna(0)  # Filling any remaining NaN values

# Perform train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Specify categorical features by their column indices
cat_features = [X.columns.get_loc(col) for col in categorical_columns]

# Initialize the CatBoost model
model = CatBoostClassifier(
    iterations=100,            # Number of boosting iterations
    learning_rate=0.1,         # Learning rate
    depth=6,                   # Depth of the tree
    cat_features=cat_features, # Specify categorical features
    verbose=10                 # Verbosity
)

# Train the model
model.fit(X_train, y_train)

# Make predictions on the training set
y_train_pred = model.predict(X_train)

# Evaluate the model on the training set
train_accuracy = accuracy_score(y_train, y_train_pred)
train_report = classification_report(y_train, y_train_pred)

print("\nTraining Set Accuracy: {:.2f}".format(train_accuracy))
print("\nTraining Set Classification Report:")
print(train_report)

# Make predictions on the test set
y_test_pred = model.predict(X_test)

# Evaluate the model on the test set
test_accuracy = accuracy_score(y_test, y_test_pred)
test_report = classification_report(y_test, y_test_pred)

print("\nTest Set Accuracy: {:.2f}".format(test_accuracy))
print("\nTest Set Classification Report:")
print(test_report)

0:	learn: 0.6646014	total: 148ms	remaining: 14.7s
10:	learn: 0.5429647	total: 569ms	remaining: 4.6s
20:	learn: 0.5023523	total: 983ms	remaining: 3.7s
30:	learn: 0.4836409	total: 1.4s	remaining: 3.11s
40:	learn: 0.4736192	total: 1.8s	remaining: 2.59s
50:	learn: 0.4672662	total: 2.25s	remaining: 2.16s
60:	learn: 0.4628680	total: 2.62s	remaining: 1.67s
70:	learn: 0.4607034	total: 2.95s	remaining: 1.21s
80:	learn: 0.4588470	total: 3.35s	remaining: 787ms
90:	learn: 0.4563315	total: 3.73s	remaining: 369ms
99:	learn: 0.4546957	total: 4.06s	remaining: 0us

Training Set Accuracy: 0.79

Training Set Classification Report:
              precision    recall  f1-score   support

           0       0.74      0.97      0.84      3986
           1       0.92      0.53      0.67      2838

    accuracy                           0.79      6824
   macro avg       0.83      0.75      0.76      6824
weighted avg       0.82      0.79      0.77      6824


Test Set Accuracy: 0.78

Test Set Classification Report:
              precision    recall  f1-score   support

           0       0.74      0.96      0.83      1714
           1       0.89      0.53      0.66      1211

    accuracy                           0.78      2925
   macro avg       0.82      0.74      0.75      2925
weighted avg       0.80      0.78      0.76      2925

### User input and prediction

In [11]:
def predict_activity(model, pool_visits, mem_length, mem_category, age, gender, 
                     class_bookings, alt_bookings, oth_bookings, squash_bookings, price_level):
    
    input_data = pd.DataFrame({
        'pool_visits': [pool_visits],
        'mem_length': [mem_length],
        'mem_category': [mem_category],
        'age': [age],
        'gender': [gender],
        'class_bookings': [class_bookings],
        'alt_bookings': [alt_bookings],
        'oth_bookings': [oth_bookings],
        'squash_bookings': [squash_bookings],
        'price_level': [price_level]
    })
    
    categorical_columns = ['mem_category', 'price_level', 'gender']
    input_data[categorical_columns] = input_data[categorical_columns].astype('category')
    
    prediction = model.predict(input_data)
    
    activity_type = 'Active' if prediction[0] == 1 else 'Inactive'
    
    return activity_type

def print_prediction_output(predicted_activity, pool_visits, mem_length, mem_category, age, gender, 
                            class_bookings, alt_bookings, oth_bookings, squash_bookings, price_level):
    # Create a nicely formatted template for the output
    print(" ")
    print("=" * 50)
    print(" " * 15 + "ACTIVITY PREDICTION")
    print("=" * 50)
    
    # Display input data in a tabular format
    print(f"{'Pool Visits:':<20}{pool_visits}")
    print(f"{'Membership Length:':<20}{mem_length} days")
    print(f"{'Membership Category:':<20}{mem_category}")
    print(f"{'Age:':<20}{age} years")
    print(f"{'Gender:':<20}{gender}")
    print(f"{'Class Bookings:':<20}{class_bookings}")
    print(f"{'Alternative Bookings:':<20}{alt_bookings}")
    print(f"{'Other Bookings:':<20}{oth_bookings}")
    print(f"{'Squash Bookings:':<20}{squash_bookings}")
    print(f"{'Price Level:':<20}{price_level}")
    
    print("-" * 50)
    
    # Display the predicted activity in a prominent way
    print(f"{'Predicted Activity Type:': <20} {predicted_activity}")
    
    print("=" * 50)
    print(" " * 10 + "Prediction Completed")
    print("=" * 50)

# Asking for user inputs
print("=" * 50)
print(" "*15 + "Initiating Prediction Model")
print("=" * 50)
pool_visits = int(input("Enter the number of pool visits: "))
mem_length = int(input("Enter the length of membership (in days): "))
mem_category = input("Enter the membership category (e.g., peak, off-peak, others): ")
age = int(input("Enter the user's age: "))
gender = input("Enter the user's gender (Male/Female): ")
class_bookings = int(input("Enter the number of class bookings: "))
alt_bookings = int(input("Enter the number of alternative bookings: "))
oth_bookings = int(input("Enter the number of other bookings: "))
squash_bookings = int(input("Enter the number of squash bookings: "))
price_level = input("Enter the price level (e.g., student, alumni, others, community, staff, junior): ")

# Making the prediction
predicted_activity = predict_activity(
    model, 
    pool_visits=pool_visits, 
    mem_length=mem_length, 
    mem_category=mem_category, 
    age=age, 
    gender=gender, 
    class_bookings=class_bookings, 
    alt_bookings=alt_bookings, 
    oth_bookings=oth_bookings, 
    squash_bookings=squash_bookings, 
    price_level=price_level
)

# Printing the output with the design template
print_prediction_output(
    predicted_activity, 
    pool_visits, 
    mem_length, 
    mem_category, 
    age, 
    gender, 
    class_bookings, 
    alt_bookings, 
    oth_bookings, 
    squash_bookings, 
    price_level
)

==================================================
               Initiating Prediction Model
==================================================

Enter the number of pool visits:  79
Enter the length of membership (in days):  367
Enter the membership category (e.g., peak, off-peak, others):  peak
Enter the user's age:  69
Enter the user's gender (Male/Female):  Male
Enter the number of class bookings:  55
Enter the number of alternative bookings:  67
Enter the number of other bookings:  54
Enter the number of squash bookings:  22
Enter the price level (e.g., student, alumni, others, community, staff, junior):  student

==================================================
               ACTIVITY PREDICTION
==================================================
Pool Visits:        79
Membership Length:  367 days
Membership Category:peak
Age:                69 years
Gender:             Male
Class Bookings:     55
Alternative Bookings:67
Other Bookings:     54
Squash Bookings:    22
Price Level:        student
--------------------------------------------------
Predicted Activity Type: Active
==================================================
          Prediction Completed
==================================================

In [28]:
model.save_model('catboost_model.cbm')